html {

}

.main-title {
  margin: 50px 0px 50px 0px;
  text-align: center;
}

.main-table {
  margin: 30px 0px 30px 0px;
}

table {
  border-collapse: separate;
  border-spacing: 0px 40px;
}

tbody {

}

/* tbody:before {
  line-height: 1em;
  content:".";
display:block;
} */

.tr-content:before {
  display: block;
  line-height: 2em;
}

.tr-content {
  background-color: #DADEDF;
  box-shadow: 0 13px 34px 4px rgba(0,0,0,.3);
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
  font-size: 18px;
}

.input-group {
  margin: 20px 0px 20px 0px;
}

svg {
  height: 160px;
}

.city-name {

}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
  font-size: 20px;
}

.current {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 160px;
  height: 256px;
  border: solid 1px lightgray;
  justify-content: space-around;
  background: linear-gradient(#FDC673, #8BB6DD);
  font-size: 20px;
}
