html {

}

body {
  background:  url("https://media.giphy.com/media/3og0IV7MOCfnm85iRa/source.gif") no-repeat center center fixed;
  background-size: cover;
}

.main-title {
  margin: 50px 0px 50px 0px;
  text-align: center;
  font-family: 'Black Ops One', cursive;
  font-size: 60px;
  color: whitesmoke;
  text-shadow: 2px 2px 4px #000000;
}

.chart-headers {
  color: whitesmoke;
  /* text-shadow: 2px 2px 4px #000000; */
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;

}

.main-table {
  margin: 30px 0px 30px 0px;
}

table {
  border-collapse: separate;
  border-spacing: 0px 40px;
}

.tr-content:before {
  display: block;
  line-height: 2em;
}

.tr-content {
  background-color: #DADEDF;
  box-shadow: 0px 13px 34px 4px rgba(0,0,0,.3);
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
  font-size: 18px;
}

.input-group {
  margin: 20px 0px 20px 0px;
}

svg {
  height: 160px;
}

.city-name {
  font-family: 'Black Ops One', cursive;
  font-size: 23px;
  color: rgb(124, 76, 178);
}

.table>tbody>tr>td {
  margin: 0px;
padding: 0px 9px 0px 9px;
line-height: 1.42857143;
border-top: none;
}

td:first-of-type, td:first-of-type > div {
  height: 216px;
  width: 270px;
  font-size: 20px;
}

.current {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 160px;
  height: 262px;
  justify-content: space-around;
  background: linear-gradient(rgb(164, 119, 209), #8BB6DD);
  font-size: 20px;
}
