html {
  background-color: whitesmoke;
}

.main-title {
  margin: 30px 0px 60px 0px;
  text-align: center;
}

.main-table {
  margin: 30px 0px 30px 0px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}

.current {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 205px;
  justify-content: space-around;
  background-color: lightgray;
  font-size: 20px;
}
